<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="app">
            <directory>tests/TestCase/</directory>
        </testsuite>
        <testsuite name="working">
            <directory>tests/TestCase/Model/Behavior/</directory>
            <directory>tests/TestCase/Model/Entity/</directory>
            <directory>tests/TestCase/Controller/Admin/</directory>
            <!-- <file>tests/TestCase/ApplicationTest.php</file> -->
            <file>tests/TestCase/Command/EditorialPublishCommandTest.php</file>
            <file>tests/TestCase/Controller/ContentControllerTest.php</file>
            <file>tests/TestCase/Controller/CorpsControllerTest.php</file>
            <file>tests/TestCase/Controller/WikisControllerTest.php</file>
            <file>tests/TestCase/Model/Table/ContentTableTest.php</file>
            <file>tests/TestCase/Model/Table/CorpsTableTest.php</file>
            <file>tests/TestCase/Model/Table/WikisTableTest.php</file>
            <file>tests/TestCase/View/Helper/EditorialHelperTest.php</file>
        </testsuite>
        <!-- Add plugin test suites here. -->
    </testsuites>

    <!-- Load extension for fixtures -->
    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <!-- Ignore vendor tests in code coverage reports -->
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">plugins/*/src/</directory>
            <exclude>
                <file>src/Console/Installer.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
