@font-face {
	font-family: "Roboto";
	src: url("/font/roboto-v20-latin-regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("/font/lato-v17-latin-regular.woff") format("woff");
	font-display: swap;
}

.tar {
  text-align: right !important;
}
.tal {
  text-align: left !important;
}
.tac {
  text-align: center !important;
}
.btn-xs {
	padding: 3px 5px;
	font-size: 12px;
	border-radius: 3em;
}
.btn-group-xs > .btn { @extend .btn-xs; }
.btn-default {
  @extend .btn-light;
  &:hover {
    background-color: #e6e6e6;
    border-color: #333;
  }
}
.bg-default {
  background-color: #fff!important;
  border: solid 1px #7b7e80;
  color: #7b7380;
}
.btn-info {
  color: #fff;
  border-color: #333;
  &:hover {
    color: #fff;
    border-color: #333;
  }
}
