// Use this file to overwrite any of the default bootstrap colors/variables that are defined in _variables.scss

$primary:       #304369 !default; //dark blue
$secondary:     #ef642f !default; //orange
$info:     		#7b7e80	!default; //dark gray
