.manufacturer {
  .logo-container {
    width: auto;
    height: auto;

    @media ($screen-lg-max) {
      max-width: 120px;
      min-height: 60px;
    }

    @media ($screen-md-max) {
      max-width: 165px;
      margin: 0 auto;
    }
  }
}

.manuf-logo {
  @media only screen and (max-width: $screen-xs-max) {
    display: none;
  }

  img {
    max-width: 150px;
  }
}