.secondary {

  .page-content {
    margin-top: 25px;
  }

  .panel-section.find-professionals-links {
    @media only screen and (min-width: $screen-sm-min) {
      padding: 0 70px;
    }
  }

  .two-lines {
    line-height: 1.6em;
    height: 3.2em;
    overflow: hidden;
  }
}

.wiki-body {
  figcaption {
    font-style: italic;
    @include font($font-family-serif, 'italic', 'normal');
    font-size: 87.5%;
  }
  a {
    border-bottom: dotted 1px $link-color;
    text-decoration: none;

    &:hover {
      border-bottom-color: $link-hover-color;
      text-decoration: none;
    }
  }
}