.locations {
	label {
		width: 41.66667%;
		text-align: right;
		padding: 7px 15px 0;
		font-weight: bold;
	}
	
	.form-control:not([type='date']), .form-select {
		display: inline-block;
		width: 58.33333%;
		padding: 10px 12px;
		font-size: 1.5rem;
	}
	
	&.crmsearches {
		label {
			width: 25%;
		}
		
		.form-control:not([type='date']), .form-select {
			width: 75%;
		}
	}
}

.status-unlinked {
	background-color: rgba(200,100,100,.5)!important;
}
.status-reviewed {
	background-color: rgba(100,200,100,.5)!important;
}
.status-review-needed {
	background-color: rgba(250,250,150,.5)!important;
}
.status-junk {
	background-color: rgba(190,144,212,.5)!important;
}

.btn-group-vertical {
	min-width: 80px;
}
.import {
	margin: 0 -20px;
}
textarea.match,
input.match {
	background-color: rgba(100,200,100,.5)!important;
}
textarea.different,
input.different {
	background-color: rgba(200,100,100,.5)!important;
}
.review-needed {
	color: rgba(200,100,100,.8)!important;
}
.review-needed small {
	font-size: 12px;
}

th small {
	font-style: italic;
	font-weight: normal;
	color: #999;
}

a {
	cursor: pointer;
	color: $link-color;
}
