.bg-oticon {
    background-color:#c6168d;
    color: #ffffff;
    border: none;
}
.bg-hh {
    background-color:#78afc9;
    color: #ffffff;
    border: none;
}
.bg-yhn {
    background-color:#ff9800;
    color: #ffffff;
    border: none;
}
.bg-cqp {
    background-color:#0089bb;
    color: #ffffff;
    border: none;
}
.bg-earq {
    background-color:#ee3a3c;
    color: #ffffff;
    border: none;
}
.notes {
	margin: 20px 0px;
}
.single_note {
	padding: 5px;
	border: 1px solid #DDD;
}
.single_note table {
	width: 100%;
}
.single_note:nth-child(even) {
	background: #F9F9F9;
}
/*.single_note:nth-child(odd) {
	background: #1EBBF5;
}*/
.single_note .note_who {
	width: 140px;
}
.single_note .when {
	width: 210px;
	text-align: right;
}
.single_note .delete {
	width: 90px;
	text-align: right;
}
.single_note .status {
	text-align: center;
	font-weight: bold;
}

.admin-panels .dropdown-menu {
	min-width: 225px;
}
.admin-panels .panel-btn {
	min-width: 225px;
}

.orange-bg {
	background-color: #ffebc6;
}
.purple-bg {
	background-color: #f3e5f5;
}
.ivory-bg {
	background-color: #fffff0;
}
.lavender-bg {
	background-color: #e6e6fa;
}
.pink {
	color: #ffb6c1;
}
.orange {
	color: #ffb900;
}
.yellow {
	color: #ffd700;
}
.purple {
	color: #dda0dd;
}
.ivory {
	color: #f0e68c;
}
.lavender {
	color: #c8c8f7;
}
.blue {
	color: #add8e6;
}
.green {
	color: #B3DA65;
}
.red {
	color: #ee3322;
}
.tab-has-error {
	color: #e03020 !important;
	font-weight: bold;
}
.btn-toolbar .btn {
	margin-bottom: 4px;
}
.location-tabs>li>a {
	padding: 10px;
}
.label-oticon {
	background-color:#c6168d;
	color: #ffffff;
	border: none;
}
.label-hh {
	background-color:#78afc9;
	color: #ffffff;
	border: none;
}
.label-yhn {
	background-color:#ff9800;
	color: #ffffff;
	border: none;
}
.label-cqp {
	background-color:#0089bb;
	color: #ffffff;
	border: none;
}
.label-earq {
	background-color:#ee3a3c;
	color: #ffffff;
	border: none;
}
span.error {
	color: red;
}
.userTypes .label {
	line-height: 2;
}
.bl-dark {
	border-left: 2px solid #888 !important;
}
.metric-reported {
	color: red;
	font-weight: bold;
}
#flash-message .alert-danger {
	background-color: #ad0000;
	font-size: larger;
}
.admin-filter-well {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}
.locationCovid {
	color: #ff8c00;
}
