.bg-oticon {
  background-color:#c6168d;
  color: #ffffff;
  border: none;
}
.bg-hh {
  background-color:#78afc9;
  color: #ffffff;
  border: none;
}
.bg-yhn {
  background-color:#ff9800;
  color: #ffffff;
  border: none;
}
.bg-cqp {
  background-color:#0089bb;
  color: #ffffff;
  border: none;
}
.bg-earq {
  background-color:#ee3a3c;
  color: #ffffff;
  border: none;
}
