.breadcrumb {
  background: transparent;
  font-size: 14px;
  margin-bottom: 0;
  padding: 8px 15px 8px 0;

  > li {
    line-height: 40px;
    
    +li:before {
	    content: "/ ";
	    padding: 0 5px;
	    color: #ccc;
    }
  }

  @media only screen and (max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    float: left;
  }
}

.inverse .breadcrumb {
  > li a {
    border-bottom: dotted 1px darken($white, 8%);
    color: darken($white, 8%);
    text-decoration: none;
  }

  > li.active a {
    border-bottom: none;
    color: $white;
  }
}

#ellipses {
  display: none;
  margin-top: 15px;
  
  @media only screen and (max-width: $screen-xs-max) {
	  position: absolute;
  }
}
