// Close button styles
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}

// Common button styles
.btn {
  padding: 6px 17px;
  font-size: 85%;
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
  word-wrap: break-word;
  white-space: normal;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4;

  &.rounded-start {
    border-bottom-left-radius: 3rem !important;
    border-top-left-radius: 3rem !important;
  }

  &.btn-block {
    width: 100%;
    display: block;
  }

  &.group-toggle {
    float: right;
  }

  &.show {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }

  &.btn-xs,
  .btn-group-xs>.btn {
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 30px;
  }

  &:active,
  &.active {
    color: #333;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
  }

  &.focus {
    outline: none;
  }

  &.top-btn {
    height: 35px;
    width: 35px;

    .hh-icon-printer {
      position: relative;
      right: 9px;
      bottom: 2px;
    }
  }

}

// Button variants
.btn-primary {
  @include button-variant($btn-primary-border, $btn-primary-bg, $btn-primary-color);
}

.btn-secondary {
  @include button-variant($btn-secondary-border, $btn-secondary-bg, $btn-secondary-color);
}

.btn-light {
  @include button-variant($btn-light-color, $btn-light-bg, $btn-light-border);

  &:hover {
    color: #fff;
  }
}

.btn-neutral {
  @include button-variant($btn-neutral-color, $btn-neutral-bg, $btn-neutral-border);
}

.btn-info {
  @include button-variant($btn-neutral-border, $btn-neutral-bg, $white);
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:active,
  &:first-child:active,
  &:hover,
  &:target,
  &:focus,
  &:focus-within {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.btn-success {
  background-color: #188150;
}

.btn-lg,
.btn-group-lg>.btn {
  padding: 10px 22px;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 3em;
}

.btn-group.show {
  display: inline-block !important;

  ul.dropdown-menu.show {
    transform: none !important;
    top: 100% !important;
  }
}

.btn-group {
  flex-wrap: wrap;

  &.btn-group-xs>.btn {
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.5;
  }

  &.btn-group-vertical {
    >.btn:not(:first-child) {
      margin-left: 0;
    }
  }

  >.btn:not(:first-child),
  >.btn-group:not(:first-child) {
    margin-left: 0;
  }
}

.btn-group-vertical {

  &>.btn:first-child:not(:last-child),
  &>.btn:last-child:not(:first-child) {
    border-radius: $border-radius-base;
  }
}

.btn-set {
  font-size: 20px;

  .btn {
    display: block;
    margin: 1em 0;
    width: 100%;

    @media only screen and (min-width: $screen-sm-min) {
      display: inline-block;
      width: auto;
    }

    @media only screen and (min-width: $screen-lg-min) {
      &+.btn {
        margin-left: 1em;
      }
    }
  }
}

// Share button styles
.btn-share,
.IN-widget {
  background: $brand-primary;
  border-radius: 18px;
  color: $body-bg;
  height: 35px;
  line-height: 30px !important;
  padding: 3px 0.5em !important;
  text-transform: none;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $btn-primary-bg;
  }

  [class*="hh-icon-"] {
    font-size: 16px;
    position: relative;
    bottom: 2px;
    right: 1px;
    ;
  }

  .badge {
    background: $white;
    border-radius: 18px;
    color: tint($text-color, 45%);
    height: 100%;
    line-height: 16px;
    margin-left: 0.75em;
    min-width: 27px;
  }
}

.btn-print {

  &:hover,
  &:focus,
  &:active {
    color: $white;
    @include button-variant($btn-light-color, $btn-light-bg, $btn-light-border);
  }
}

// Badge button styles
.btn-badge {
  padding: 3px 3px 3px 1em;
}

// Social media buttons
.btn-facebook {
  background: $color-facebook;

  .fb-xfbml-parse-ignore {
    color: $white;
  }
}

.btn-twitter {
  background: $color-twitter;
}

.IN-widget {
  background: $color-linkedin;
  margin: 13.6px 0 13.6px 13.6px !important;
  vertical-align: middle !important;

  &:hover {
    background: #006097;

    >span>button {
      background-color: #006097 !important;
    }
  }

  button {
    font-size: 20px !important;
  }
}

.btn-pinterest {
  background: $color-pinterest;
  margin-left: 13.6px !important;
}

.btn-google-plus {
  background: $color-google-plus;
}

// Cookie button styles
.btn-cookie {
  @media (max-width: $screen-sm-max) {
    display: block;
    margin: 0 auto;
  }
}

[data-toggle="buttons"] [type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

// Directions link styles
.directions-link {
  margin: 10px auto 0;
  display: block;
  max-width: 220px;
}

// More and fewer reviews buttons
#more-reviews-button,
#fewer-reviews-button {
  margin: 0 auto;
  display: none;
}

// Export button styles
span#exportClose {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
}

#exportSubmit {
  display: block;
  clear: both;
  margin: 0 auto;
}

// Floating save button
#floatingSave {
  position: fixed;
  right: 20px;
  bottom: 0px;
  padding: 10px 20px;
  border-radius: 20px 20px 0 0;
  border: 5px solid $btn-secondary-border;
  background: #fff;
  color: $text-color;
  z-index: 2;
}

// Unlock title button
#titleUnlock {
  position: absolute;
  left: 75%;
}