.button {
  &.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
  }
}

.btn {
  padding: 6px 17px;
  font-size: 85%;
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4;
  
  &.rounded-start {
    border-bottom-left-radius: 3rem !important;
    border-top-left-radius: 3rem !important;
  }

  &.btn-block {
    width: 100%;
    display: block;
  }
}

.btn-secondary {
  @include button-variant($btn-secondary-border, $btn-secondary-bg, $btn-secondary-color);
}

.btn-light {
  @include button-variant($btn-light-color, $btn-light-bg, $btn-light-border);
}

.btn-neutral {
  @include button-variant($btn-neutral-color, $btn-neutral-bg, $btn-neutral-border);
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:active, &:first-child:active, &:hover, &:target, &:focus, &:focus-within {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.btn-lg {
  @include button-size(10px, 22px, 1.4, $btn-border-radius-large);
}

.btn-sm {
  padding: 5px 12px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3em;

  &.group-toggle {
    float: right;
  }
}

.btn-xs {
  @include button-size(3px, 6px, 12px, $btn-border-radius);
}

.btn-print {
  margin: 10px 0;
  text-transform: none;

  .hh-icon-printer {
    font-size: 16px;
  }

  &:focus {
    outline: 0;
  }
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 22px;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 3em;
}

.btn-group.show {
  display: inline-block !important;

  ul.dropdown-menu.show {
    transform: none !important;
    top: 100% !important;
  }
}

.btn-group {
  flex-wrap: wrap;

  > .btn:not(:first-child), > .btn-group:not(:first-child) {
    margin-left: 0;
  }
}

.btn-group-vertical {
  & > .btn:first-child:not(:last-child) {
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }

  & > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
}