.date {
  @include font($font-family-primary, normal, "700");
  color: $brand-light;
  display: inline-block;
  line-height: 1;
  text-align: center;

  .month, .day {
    display: block;
  }

  .month {
    font-size: 16px;
    text-transform: uppercase;
  }

  .day {
    font-size: 32px;
  }

  &.large .month {
    font-size: 24px;
  }

  &.large .day {
    font-size: 48px;
  }

  label{
    color: #212529;
  }
}
.inline-date {
    display: inline-block;
}

#advanced_search {
  .inline-date {
    width: 46%;
  }
}