[hh-map], [data-hh-map] {
  background: #FFF;
  border: 8px solid #FFF;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);

  svg {
    max-height: 100%;
    max-width: 100%;

    g.Canada {
      g {
        &:hover {
          fill: #78afc9;
          cursor: pointer;
        }
      }
    }
  }

  .map {
    transition: all 0.4s ease-out;
    backface-visibility: hidden;

    &.zoom {
      transform: matrix(2.2, 0, 0, 2.2, -1200, -65);
      transform: matrix3d(2.2, 0, 0.00, 0, 0.00, 2.2, 0.00, 0, 0, 0, 1, 0, -1200, -65, 0, 1);

      .zoom-box {
        display: none;
      }
    }
  }

  .border {
    opacity: 1;
    fill: none;
    stroke: #A9A9A9;
    stroke-width: 2;
  }

  .circle {
    opacity: 1;
    fill: #E0E0E0;
    stroke: #646464;
    stroke-width: 1;
  }

  .state {
    cursor: pointer;
    fill: #E0E0E0;
    stroke: $white;
    stroke-width: 1;
    stroke-opacity: 1;
    -webkit-transform: translateZ(0);
    // -webkit-transition: fill 0.1s ease-out;

    &:hover {
      fill: $brand-light;
    }
  }

  .zoom-box {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.04);
    stroke: #78AFC9;
    stroke-width: 4px;
    transition: fill 0.2s ease-out;

    &:hover {
      fill: transparentize($brand-light, 0.2);
    }
  }

  .map-unzoom {
    .unzoom-box, .unzoom-sign {
      fill: transparent;
      transition: fill 0.1s ease-out;
    }

    &.show {
      cursor: pointer;

      .unzoom-box {
        fill: transparentize($brand-light, 0.8);

        &:hover {
          fill: transparentize($brand-light, 0.6);
        }
      }

      .unzoom-sign {
        fill: $brand-light;
      }
    }
  }
}

#headerMap {
  background-color: white;
  width: 100%;
  padding: 10px 5px;
}