[data-hh-sticky-panel] {
  background: $body-bg;
  display: none;
  height: auto;
  min-height: 240px;
  width: 400px;
  position: fixed;
  right: -360px;
  top: 113px;
  z-index: 800;

  &.open {
    right: 0;
  }

  .sticky-panel-body {
    padding: 20px;
    flex: 1;
  }

  .sticky-panel-handle {
    background: $brand-secondary;
    @include box-shadow(-2px 0 6px rgba(0, 0, 0, 0.2));
    color: $white;
    cursor: pointer;
    display: flex;
    flex: 0 0 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }

  .handle-text {
    white-space: nowrap;
    transform: rotate(-90deg);
    font-weight: bold;
  }

  .close-icon {
    @include hh-icon;
    @extend .hh-icon-cross;
    font-size: 20px;
    left: 0;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
  }

  &.open .close-icon {
    opacity: 1;
  }

  @media only screen and (min-width: $screen-sm-min) {
    display: flex;
  }
}
