[hh-mega-nav],
[data-hh-mega-nav] {
  background: $navbar-default-link-hover-bg;
  box-sizing: border-box;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  height: 0;
  max-width: 100vw;
  min-height: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: $navbar-height;
  transform: translateZ(0);
  transition: all 0.3s ease-in-out;
  width: 100vw;
  z-index: 805;

  li a {
    color: $brand-primary;
  }

  blockquote {
    border-left-width: 3px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 60px;
    padding: 0 25px;

    a {
      text-decoration: underline;

      &.nav-header-content-link {
        text-decoration: none;
        line-height: 1.4;
      }
    }

    small:before {
      content: "";
    }
  }

  .mega-nav-inner {
    padding: 30px 25px;

    h4 {
      a {
        font-size: 24px;
      }
    }

    p {
      .flag {
        display: none;
      }
    }

    td {
      padding: 12px 24px;
    }

    .flag-link {
      padding: 2px;
      background-color: #adadad;

      img {
        height: 40px;
        width: 40px;
      }

      &.flag-ca {
        padding: 2px 3px;

        img {
          transform: scalex(1.05);
        }
      }
    }
  }

  @media only screen and (min-width: $screen-lg-min) {
    max-width: 990px;
    position: absolute;
    right: calc(50% - 570px);
  }
}