@font-face {
  font-family: 'hh-icons';
  src: url('/font/hh-icons.eot?j17ed6');
  src: url('/font/hh-icons.eot?#iefixj17ed6') format('embedded-opentype'),
       url('/font/hh-icons.woff?j17ed6') format('woff'),
       url('/font/hh-icons.ttf?j17ed6') format('truetype'),
       url('/font/hh-icons.svg?j17ed6#hh-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="hh-icon-"], [class*=" hh-icon-"] {
  @include hh-icon();
}

.hh-icon-address:before {
  content: "\e60f";
}

.hh-icon-full-star:before {
  content: "\e611";
}

.hh-icon-half-star:before {
  content: "\e612";
}

.hh-icon-outline-star:before {
  content: "\e613";
}

.hh-icon-printer:before {
  content: "\e600";
}

.hh-icon-square-check:before {
  content: "\e601";
}

.hh-icon-search:before {
  content: "\e602";
}

.hh-icon-menu:before {
  content: "\e603";
}

.hh-icon-facebook.clinic-share, .hh-icon-x.clinic-share, .hh-icon-youtube.clinic-share {
  color: $share-icon-gray;
  margin: 5px 2px 5px 5px;
}

.hh-icon-facebook:before {
  content: "\e606";
}

.hh-icon-x {
  background-image: url("../img/x-logo-white.png");
  background-size: contain;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.hh-icon-youtube:before {
  content: "\e617";
}

.hh-icon-linkedin {
  background-image: url("../img/linkedin-bug.png");
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
  display: inline-block;
}

.hh-icon-pinterest {
  background-image: url("../img/pinterest.svg");
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
  display: inline-block;
}

.hh-icon-circle-facebook:before {
  content: "\e60a";
}

.hh-icon-circle-x {
  display: inline-block;
  background: url("../img/x-logo-white.png");
  width: 40px;
  height: 40px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: #78afc9;
  background-position: 11px;
  border-radius: 21px;
  position: relative;
  top: 3px;
}

.hh-icon-circle-youtube:before {
  content: "\e60c";
}

.hh-icon-plus:before {
  content: "\e114";
}

.hh-icon-cross:before {
  content: "\e117";
}