[data-hh-side-nav-trigger] {
  display: block;
  float: right;
  margin-left: 15px;
  overflow: visible;
  position: relative;
  text-align: center;
  width: calc(70px / 1.5);
  z-index: 1;

  > a {
    color: transparent;
    display: block;
    font-size: 0;
    height: $navbar-height;
    padding: 20px 15px;
    text-decoration: none;
    
    span {
      font-size: 24px;
      color: $brand-primary;
    }

    &:hover {
      background: $navbar-default-link-hover-bg;
      text-decoration: none;
    }
  }

  @media only screen and (min-width: $screen-sm-min) {
    display: none;
  }
}

[data-hh-side-nav] {
  background: $gray-lighter;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateZ(0);
  width: calc(100vw - ($navbar-height / 1.75));
  display: block;
  
  .col-sm-12 {
    .side-nav-links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      &.fac-present {
        padding-bottom: 83px;
      }
  
      li {
        border-top: solid 1px #d5d5d5;
        border-bottom: solid 1px #d5d5d5;
        height: 70px;
  
        > a, > span {
          color: $brand-primary;
          display: inline-block;
          font-size: 128%;
          line-height: $navbar-height;
          padding-left: 30px;
          width: 100%;
          border-top: 0;
        }

        &.show {
          height: auto;
        }
  
        &:first-child > a, &:first-child > span {
          border-top: none;
        }
  
        &:last-child > a, &:last-child > span {
          border-bottom: solid 1px darken($gray-lighter, 10%);
        }
        
        .dropdown-backdrop {
          pointer-events: none;
        }
        
        .dropdown-toggle {
          text-decoration: none;
        }
        
        .text-link {
          padding: 20px 0 0;
          line-height: 30px;
          margin-bottom: 20px;
          margin-left: 20px;
          width: auto;
          height: 50px;
        }
        
        .dropdown-menu {
          position: relative;
          width: 100%;
          padding: 0;
          box-shadow: none;
          font-size: 16px;
          
          li {
            padding-left: 10px;
            
            a {
              &:hover {
                background: #fff;
              }
            }
          }
        }
        
        .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 6px dashed;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent;
        }
      }
    }
  }
}

.show-side-nav {
  .side-nav-links {
    li {
      height: auto;
    }
  }
}