.input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  .input-group-btn {
    position: absolute;
    right: 0;
    font-size: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: top;

    &:last-child > .btn {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
      font-size: $font-size-base * 0.857;
      font-weight: bold;
      height: 46px;
      margin-left: -1px;
    }
  }

  > .form-control:focus {
    z-index: 1;
    border-color: #03a9f4;
    box-shadow: none;
  }
}