.inverse {
  color: $white;

  a:not(.btn) {
    color: #d7e7ef;
  }

  .text-link {
    border-bottom-color: #d7e7ef;
    color: #d7e7ef;

    &:hover, &:active {
      border-bottom-color: #aecfdf;
      color: #aecfdf;
    }
  }
}
