.inverse {
  color: $white;

  a:not(.btn) {
    color: tint($brand-light, 70%);
  }

  .text-link {
    border-bottom-color: tint($brand-light, 70%);
    color: tint($brand-light, 70%);

    &:hover, &:active {
      border-bottom-color: tint($brand-light, 40%);
      color: tint($brand-light, 40%);
    }
  }
}
